<a href="https://colab.research.google.com/github/Bishalkarkeey07/INTERN/blob/master/pandas_first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/sampleDataSet.csv')
# print(df.head())
# print(df)

In [ ]:
print(df.columns)

Index(['date_start', 'date_stop', 'adset_id', 'adset_name', 'account_id',
       'account_name', 'campaign_id', 'campaign_name', 'attribution_setting',
       'spend', 'impressions', 'frequency', 'objective', 'platform'],
      dtype='object')

In [ ]:
print(df.index)

RangeIndex(start=0, stop=22, step=1)

In [ ]:
df.spend.max()

22

In [ ]:
df2 = df.loc[df['platform'] == 'facebook']
print(df2)

   date_start   date_stop  adset_id  adset_name  account_id account_name  \
0  2022-10-24  2022-10-24      6079  ADSET_ABCD       12345          XYZ
2  2022-10-24  2022-10-24      6079  ADSET_ABCD       12345          XYZ

   campaign_id  campaign_name attribution_setting  spend  impressions  \
0      1236049  CAMPAIGN_ABCD    1d_view_7d_click      1         1000
2      1236049  CAMPAIGN_ABCD    1d_view_7d_click      3         1002

   frequency    objective  platform
0        1.4  CONVERSIONS  facebook
2        3.4  CONVERSIONS  facebook

In [ ]:
df.isna()

,date_start,date_stop,adset_id,adset_name,account_id,account_name,campaign_id,campaign_name,attribution_setting,spend,impressions,frequency,objective,platform
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df3 = df.spend.sum()
print(df3)

253

In [ ]:
df.head(10)

In [ ]:
null_frequency = df.isnull().sum()
null_df = pd.DataFrame({'Column': null_frequency.index, 'Null Frequency': null_frequency.values})
print(null_df)
print(null_df.sum())

                 Column  Null Frequency
0            date_start               0
1             date_stop               0
2              adset_id               0
3            adset_name               0
4            account_id               0
5          account_name               0
6           campaign_id               0
7         campaign_name               0
8   attribution_setting               0
9                 spend               0
10          impressions               0
11            frequency               0
12            objective               0
13             platform               0
Column            date_startdate_stopadset_idadset_nameaccount_i...
Null Frequency                                                    0
dtype: object

In [ ]:
grouped_data = df.groupby('campaign_id')['campaign_name'].unique()
print(grouped_data)

campaign_id
1236049    [CAMPAIGN_ABCD]
1236050    [CAMPAIGN_PQRS]
Name: campaign_name, dtype: object

In [ ]:
import numpy as np
df['new_frequency'] = np.nan
print(df)

In [ ]:
df.isna()

In [ ]:
df.spend.sum()

253

In [ ]:
df.new_frequency.sum()

0.0

In [ ]:
df.campaign_name.max()

'CAMPAIGN_PQRS'

In [ ]:
df.groupby('campaign_id') ['spend'].agg(['mean','sum'])

             mean  sum
campaign_id
1236049       5.0   45
1236050      16.0  208

In [ ]:
 df.